{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home|Utopia</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
</head>

<body class="row body">
    <div class="left column">
        <h1>HELLO</h1>
        <h2>welcome</h2>
        <p>Looks like you made it to the home page</p>
        <a href="{% url 'home' %}">Reload</a>
    </div>
    <div class="right"></div>
</body>

</html>
